<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Log In</h1>
          <h6>Please enter email and password</h6>
        </div>
        <form>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
              <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
            </div>
            <button routerLink="/annonce" type="submit" class="btn btn-primary">Log In</button>
          </form>
          <br>
          <a routerLink="/signup">Don't have an account?Let's creat!</a>
        </form>
      </div>
    </div>
  </div>
</div>
