<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Please Register</h6>
        </div>
        <form>
          <form>
            <div class="form-group">
              <label for="exampleInputPassword1">Full Name</label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Phone Number</label>
              <input type="number" class="form-control" id="exampleInputNumber" placeholder="Enter Your Number">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
              <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
              <small id="emailHelp" class="form-text text-muted">At least enter 8 characters</small>
            </div>
            <button routerLink="/annonce" type="submit" class="btn btn-primary">Sign Up</button>
          </form>
          <br>
          <a routerLink="/login">Already have an account?</a>
        </form>
      </div>
    </div>
  </div>
</div>
